pandas
langchain-core
langchain-community
langchain-google-genai
langchain_experimental
google-generativeai
langgraph
python-dotenv
sqlalchemy
fastapi
uvicorn[standard]
ipykernel
bleach
ragas
datasets
slowapi
httpx